.game-container {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: left top;
    transform: scale(2) translate(-400px, 25px);
}

@media screen and (width < 1332px) {
    .game-container {
        transform: scale(2) translate(-500px, 25px);
    }
}

.game-container__bg {
    position: absolute;
    top: 0;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.game-container__bg_clear {
    background-image: url('/assets/bg-clear.jpg');
}

.dirt {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.dirt-1-1 {
    background-image: url('/assets/dirt-1-1.jpg');
}

.dirt-1-2 {
    background-image: url('/assets/dirt-1-2.jpg');
}

.dirt-2-1 {
    background-image: url('/assets/dirt-2-1.jpg');
}

.dirt-2-2 {
    background-image: url('/assets/dirt-2-2.jpg');
}

.dirt-3-1 {
    background-image: url('/assets/dirt-3-1.jpg');
}

.dirt-4-1 {
    background-image: url('/assets/dirt-4-1.jpg');
}

.dirt-4-2 {
    background-image: url('/assets/dirt-4-2.jpg');
}

.dirt-4-3 {
    background-image: url('/assets/dirt-4-3.jpg');
}

.dirt-4-4 {
    background-image: url('/assets/dirt-4-4.jpg');
}

.dirt-5-1 {
    background-image: url('/assets/dirt-5-1.jpg');
}

.dirt-5-2 {
    background-image: url('/assets/dirt-5-2.jpg');
}

.dirt-5-3 {
    background-image: url('/assets/dirt-5-3.jpg');
}

.dirt-6-1 {
    background-image: url('/assets/dirt-6-1.jpg');
}

.dirt-6-2 {
    background-image: url('/assets/dirt-6-2.jpg');
}

.dirt-7-1 {
    background-image: url('/assets/dirt-7-1.jpg');
}

.game__bacteria-holder {
    position: absolute;
    overflow: hidden;
}

.game__bacteria_1 {
    top: 250px;
    left: 0;
}

.game__bacteria_2 {
    top: 400px;
    left: 300px;
}

.game__bacteria_3 {
    top: 50px;
    left: 480px;
}

.game__bacteria-holder_4 {
    top: 150px;
    left: 870px;
    width: 247px;
    height: 137px;
}

.game__bacteria_4 {
    top: 150px;
    left: 870px;
}

.game__bacteria_5 {
    top: 250px;
    left: 1100px;
}

.game__bacteria-holder_6 {
    top: 105px;
    left: 1520px;
    width: 192px;
    height: 210px;
}

.game__bacteria_6 {
    top: 105px;
    left: 1520px;
}

.game__bacteria_7 {
    top: 300px;
    left: 1800px;
}

/* ui */
.game__ui-wrapper {
    pointer-events: none;
    position: relative;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.game__message {
    position: relative;
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 44px;
    width: 708px;
    height: 204px;
}

@media screen and (width<1332px) {
    .game__message {
        margin-left: 200px;
    }
}

.game__message-bg {
    left: 0;
    background: #006822CC;
    border-radius: 0;
    backdrop-filter: blur(10px);
    transform: scaleY(0);
}

.game__message-arrow {
    width: 57px;
    height: 93px;
    transform-origin: right;
    transform: scale(0);
    background: url('/assets/arrow.svg') center no-repeat;
}

.game__time-bar {
    position: absolute;
    display: flex;
    justify-content: end;
    overflow: hidden;
    border: 3px solid #FFFFFF;
    transform-origin: center;
}

.game__time-progress {
    width: 100%;
    height: inherit;
    background: #006822CC;
    backdrop-filter: blur(10px)
}