.game-container {
    position: relative;
    width: 3920px;
    height: 100%;
    transform-origin: left top;
    transform: scale(1.85) translateX(-430px);
}

.game-container__bg {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}

.game-container__bg_clear {
    background-image: url('/assets/bg-clear.png');
}

.game-container__bg_dirty {
    background-image: url('/assets/bg-dirty.png');
}

.game__bacteria {
    position: absolute;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    transform-origin: center;
    transform: scale(0);
}

.game__bacteria_1 {
    top: 250px;
    left: 0;
    width: 272px;
    height: 272px;
    background-image: url('/assets/bacteria-4.png');
}

.game__bacteria_2 {
    top: 400px;
    left: 300px;
    width: 209px;
    height: 209px;
    background-image: url('/assets/bacteria-2.png');
}

.game__bacteria_3 {
    top: 50px;
    left: 480px;
    width: 214px;
    height: 214px;
    background-image: url('/assets/bacteria-3.png');
}

.game__bacteria_4 {
    top: 150px;
    left: 870px;
    width: 247px;
    height: 192px;
    background-image: url('/assets/bacteria-1.png');
}

.game__bacteria_5 {
    top: 250px;
    left: 1100px;
    width: 264px;
    height: 262px;
    background-image: url('/assets/bacteria-5.png');
}

.game__bacteria_6 {
    top: 105px;
    left: 1520px;
    width: 192px;
    height: 210px;
    background-image: url('/assets/bacteria-4.png');
}

.game__bacteria_7 {
    top: 300px;
    left: 1800px;
    width: 285px;
    height: 285px;
    background-image: url('/assets/bacteria-6.png');
}

/* ui */
.game__ui-wrapper {
    pointer-events: none;
    position: relative;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.game__message {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 44px;
    width: 708px;
    height: 0;
    background: #006822CC;
    border-radius: 0;
    backdrop-filter: blur(10px);
}

.game__message-text {
    width: 520px;
    height: 0;
    background: url('/assets/init-text.png') center no-repeat;
}

.game__message-arrow {
    width: 57px;
    height: 93px;
    transform-origin: right;
    transform: scale(0);
    background: url('/assets/arrow.svg') center no-repeat;
}

.game__time-bar {
    position: absolute;
    display: flex;
    justify-content: end;
    bottom: -50px;
    width: 1018px;
    height: 36px;
    border: 3px solid #FFFFFF;
    border-radius: 18px;
    transform-origin: center;
}

.game__time-progress {
    width: 100%;
    height: inherit;
    border-radius: 18px;
    background: #006822CC;
    backdrop-filter: blur(10px)
}