.game-container {
    position: relative;
    width: 100%;
    height: 100%;
    transform-origin: left top;
    transform: scale(2) translate(-400px, 25px);
}

@media screen and (width < 1332px) {
    .game-container {
        transform: scale(2) translate(-500px, 25px);
    }
}

.game-container__bg {
    position: absolute;
    top: 0;
    width: 2504px;
    height: 100%;
    background-repeat: no-repeat;
}

.game-container__bg_clear {
    background-image: url('/assets/bg-clear.jpg');
}

.dirt {
    position: absolute;
}

.dirt-1-1 {
    left: 31px;
    top: 261px;
    width: 145px;
    height: 258px;
    background: url('/assets/dirt-1-1.jpg') center no-repeat;
}

.dirt-1-2 {
    left: 225px;
    top: 102px;
    width: 170px;
    height: 176px;
    background: url('/assets/dirt-1-2.jpg') center no-repeat;
}

.dirt-2-1 {
    left: 434px;
    top: 417px;
    width: 148px;
    height: 77px;
    background: url('/assets/dirt-2-1.jpg') center no-repeat;
}

.dirt-2-2 {
    left: 612px;
    top: 302px;
    width: 166px;
    height: 72px;
    background: url('/assets/dirt-2-2.jpg') center no-repeat;
}

.dirt-3-1 {
    left: 461px;
    top: 127px;
    width: 427px;
    height: 167px;
    background: url('/assets/dirt-3-1.jpg') center no-repeat;
}

.dirt-4-1 {
    left: 888px;
    top: 52px;
    width: 277px;
    height: 236px;
    background: url('/assets/dirt-4-1.jpg') center no-repeat;
}

.dirt-4-2 {
    left: 778px;
    top: 302px;
    width: 387px;
    height: 61px;
    background: url('/assets/dirt-4-2.jpg') center no-repeat;
}

.dirt-4-3 {
    left: 1128px;
    top: 431px;
    width: 37px;
    height: 147px;
    background: url('/assets/dirt-4-3.jpg') center no-repeat;
}

.dirt-4-4 {
    left: 826px;
    top: 363px;
    width: 50px;
    height: 140px;
    background: url('/assets/dirt-4-4.jpg') center no-repeat;
}

.dirt-5-1 {
    left: 1281px;
    top: 225px;
    width: 96px;
    height: 92px;
    background: url('/assets/dirt-5-1.jpg') center no-repeat;
}

.dirt-5-2 {
    left: 1361px;
    top: 324px;
    width: 81px;
    height: 118px;
    background: url('/assets/dirt-5-2.jpg') center no-repeat;
}

.dirt-5-3 {
    left: 1400px;
    top: 493px;
    width: 42px;
    height: 75px;
    background: url('/assets/dirt-5-3.jpg') center no-repeat;
}

.dirt-6-1 {
    left: 1488px;
    top: 10px;
    width: 199px;
    height: 228px;
    background: url('/assets/dirt-6-1.jpg') center no-repeat;
}

.dirt-6-2 {
    left: 1570px;
    top: 273px;
    width: 61px;
    height: 82px;
    background: url('/assets/dirt-6-2.jpg') center no-repeat;
}

.dirt-7-1 {
    left: 1872px;
    top: 105px;
    width: 91px;
    height: 433px;
    background: url('/assets/dirt-7-1.jpg') center no-repeat;
}

.game__bacteria-holder {
    position: absolute;
    overflow: hidden;
}

.game__bacteria_1 {
    top: 250px;
    left: 0;
}

.game__bacteria_2 {
    top: 400px;
    left: 300px;
}

.game__bacteria_3 {
    top: 50px;
    left: 480px;
}

.game__bacteria-holder_4 {
    top: 150px;
    left: 870px;
    width: 247px;
    height: 137px;
}

.game__bacteria_4 {
    top: 150px;
    left: 870px;
}

.game__bacteria_5 {
    top: 250px;
    left: 1100px;
}

.game__bacteria-holder_6 {
    top: 105px;
    left: 1520px;
    width: 192px;
    height: 210px;
}

.game__bacteria_6 {
    top: 105px;
    left: 1520px;
}

.game__bacteria_7 {
    top: 300px;
    left: 1800px;
}

/* ui */
.game__ui-wrapper {
    pointer-events: none;
    position: relative;
    top: -100%;
    display: flex;
    align-items: center;
    justify-content: center;
    height: inherit;
}

.game__message {
    display: flex;
    align-items: center;
    gap: 25px;
    padding: 0 44px;
    width: 708px;
    height: 0;
    background: #006822CC;
    border-radius: 0;
    backdrop-filter: blur(10px);
}

@media screen and (width<1332px) {
    .game__message {
        margin-left: 200px;
    }
}

.game__message-text {
    width: 520px;
    height: 0;
    background: url('/assets/init-text.png') center no-repeat;
}

.game__message-arrow {
    width: 57px;
    height: 93px;
    transform-origin: right;
    transform: scale(0);
    background: url('/assets/arrow.svg') center no-repeat;
}

.game__time-bar {
    position: absolute;
    display: flex;
    justify-content: end;
    bottom: -50px;
    width: 1018px;
    height: 36px;
    border: 3px solid #FFFFFF;
    border-radius: 18px;
    transform-origin: center;
}

.game__time-progress {
    width: 100%;
    height: inherit;
    border-radius: 18px;
    background: #006822CC;
    backdrop-filter: blur(10px)
}