#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #006822 0%, rgba(0, 104, 34, 0) 100%),
        linear-gradient(0deg, rgba(225, 221, 220, 0) 78%, #E1DDDC 90%);
}

.intro__bacteria-holder {
    position: absolute;
    top: 0;
    overflow: hidden;
}

.intro__bacteria_1 {
    left: 75%;
}

.intro__bacteria_2 {
    left: 62%;
}

.intro__bacteria_3 {
    left: 82%;
}

.intro__text-1,
.intro__text-2,
.intro__text-3,
.intro__text-4,
.intro__text-5,
.intro__text-6 {
    padding: 0 15px;
}

.intro__text-highlight {
    padding: 6px 0 7px;
    margin-bottom: 34px; 
    background-image: linear-gradient(#00402B, #00402B);
    background-repeat: no-repeat;
    background-size: 0;
    background-position-x: 100%;
}

.intro__button {
    transform: translateX(15px) scale(0);
}