#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, #006822 0%, rgba(0, 104, 34, 0) 100%),
        linear-gradient(0deg, rgba(225, 221, 220, 0) 78%, #E1DDDC 90%);
}

.intro__bacteria-holder {
    position: absolute;
    top: 0;
    width: 1080px;
    height: 621px;
    overflow: hidden;
}

.intro__bacteria_1 {
    top: 430px;
    left: 75%;
}

.intro__bacteria_2 {
    top: 270px;
    left: 62%;
}

.intro__bacteria_3 {
    top: 180px;
    left: 82%;
}

.intro__animation-holder {
    width: 980px;
}

.intro__text-2-highlight {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 34px;
    width: 420px;
    height: 75px;
    background: #00402B;
}

.intro__button {
    margin-top: 48px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 535px;
    height: 150px;
    border-radius: 20px;
    background: #D21A23;
    transform: translateX(15px) scale(0);
    transform-origin: center;
}