body {
  padding: 0;
  margin: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
}

#container {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#content {
  position: relative;
  aspect-ratio: 4/3;
  max-width: 1440px;
  max-height: 810px;
  margin: auto;
  overflow: hidden;
  width: 100%;
  transform-origin: left top;
}

@media (min-aspect-ratio: 16/9) {
  #container {
    width: 177.77vh;
    height: 100vh;
  }

  #content {
    width: 133.33vh;
    height: 100vh;
  }
}

@media (max-aspect-ratio: 16/9) and (min-aspect-ratio: 4/3) {
  #container {
    width: 100vw;
    height: 100vh;
  }

  #content {
    width: 133.33vh;
    height: 100vh;
  }
}

@media (max-aspect-ratio: 4/3) {
  #container {
    width: 100vw;
    height: 75vw;
  }

  #content {
    width: 100vw;
    height: 75vw;
  }
}

.bacteria {
  position: absolute;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  transform-origin: center;
  transform: scale(0);
}

.bacteria_1 {
  width: 272px;
  height: 272px;
  background-image: url('/assets/bacteria-4.png');
}

.bacteria_2 {
  width: 209px;
  height: 209px;
  background-image: url('/assets/bacteria-2.png');
}

.bacteria_3 {
  width: 214px;
  height: 214px;
  background-image: url('/assets/bacteria-3.png');
}

.bacteria_4 {
  width: 247px;
  height: 192px;
  background-image: url('/assets/bacteria-1.png');
}

.bacteria_5 {
  width: 264px;
  height: 262px;
  background-image: url('/assets/bacteria-5.png');
}

.bacteria_6 {
  width: 192px;
  height: 210px;
  background-image: url('/assets/bacteria-4.png');
}

.bacteria_7 {
  width: 285px;
  height: 285px;
  background-image: url('/assets/bacteria-6.png');
}

.button {
  user-select: none;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  background: #D21A23;
  transform-origin: center;
}

.spray-holder {
  pointer-events: none;
  position: relative;
  margin: 0 auto;
  width: 1080px;
  height: 100%;
}

.spray {
  position: absolute;
  right: 0;
  bottom: 17px;
  width: 371px;
  height: 749px;
  background: url('/assets/spray.png') center no-repeat;
  transform-origin: right bottom;
  transform: scale(.38) translateX(415px);
  rotate: 90deg;
}

.foam {
  position: absolute;
  width: 338px;
  height: 390px;
  background: url('/assets/foam.png') center no-repeat;
  transform-origin: center;
}

.star {
  position: absolute;
  width: 110px;
  height: 110px;
  transform-origin: center;
  transform: scale(0);
  background: url('/assets/star.svg');
}

.pa {
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
}

.txt {
  font-family: 'Gotham Pro';
  color: white;
}

.mask {
  overflow: hidden;
  width: fit-content;
  transform: translateX(-100%);
}

.mask>.txt {
  width: fit-content;
  transform: translateX(100%);
}